# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# aux files
depend
zoe
check_zoe
check_zoe.log
check_zoe.trs
.dirstamp
test-suite.log
lib/lexer.h
lib/lexer.cc
lib/parser.h
lib/parser.cc
lib/parser.output
libzoe.so.*
runtests
gmon.out
.gdbinit

# autotools files
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
.deps
stamp-h1
build-aux
*~

# vim files
.*.swo
.*.swp
