# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# aux files
depend
zoe
check_zoe
check_zoe.log
check_zoe.trs
.dirstamp
test-suite.log
compiler/lexer.hh
compiler/lexer.cc
compiler/parser.hh
compiler/parser.cc
libzoe.so.*
runtests
gmon.out
.gdbinit
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
.deps
stamp-h1
build-aux
test-suite-*
libtool
m4/libtool.m4
m4/lt*.m4
config.cache
compiler/parser.output
*~

# vim files
.*.swo
.*.swp
